<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mszlu.blog.dao.mapper.CommentMapper">
    <select id="selectCommentId" parameterType="long" resultType="Long">
        select children.id from ms_comment parent
        join ms_comment children
        on parent.id = children.parent_id
        where parent.id = #{id}
    </select>
</mapper>
